<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand d-lg-none" href="#"
    ><img class="img-fluid logo" src="../assets/logo-principal.svg"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#myNavbarToggler7"
    aria-controls="myNavbarToggler7"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbarToggler7">
    <ul class="navbar-nav mx-auto">
      <a class="d-none d-lg-block" href="/home"
        ><img class="img-fluid logo" src="../assets/Logo completa.svg"
      /></a>
      <li>
        <a href=""
          ><img
            class="nav-media-social"
            src="https://cdn-icons-png.flaticon.com/512/4494/4494475.png"
            alt=""
        /></a>
      </li>
      <li>
        <a href=""
          ><img
            class="nav-media-social"
            src="https://cdn-icons-png.flaticon.com/512/4494/4494488.png"
            alt=""
        /></a>
      </li>
      <li>
        <a href=""
          ><img
            class="nav-media-social"
            src="https://cdn-icons-png.flaticon.com/512/733/733609.png"
            alt=""
        /></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contato">Contato</a>
      </li> -->
    </ul>
  </div>
</nav>

<!-- hero -->
<!-- <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://img.freepik.com/free-photo/man-hand-with-empty-diary-isolated-violet_273609-31528.jpg?w=1060&t=st=1669152308~exp=1669152908~hmac=4cc0638f1581940bca0aa107b846ad59d984e2719b01a47d17d74b8a0682feba');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
      </div>
    </div>
  </div>
</div> -->

<div class="col-12">
  <div class="d-flex flex-row align-items-center hero-bg-color">
    <div class="col-6">
      <img
        class="hero-img"
        src="https://img.freepik.com/free-photo/man-hand-with-empty-diary-isolated-violet_273609-31528.jpg?w=1060&t=st=1669157672~exp=1669158272~hmac=86bbb10e8d4723576aa70a45c7491966f0b5dee43f6ea1e6cc36ec9cb4344dfd"
        alt=""
      />
    </div>
    <div class="hero-image col-6">
      <div class="hero-text">
        <h1>VENHA NOS VISITAR</h1>
        <p class="hero-p">
          Horário de atendimento: <br />Todo sábado, das 14 às 17h
        </p>

        <button class="hero-button hero-button-text">LOCAL</button>
        <img class="hero-illustration" src="../assets/book-hero.svg" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- quote -->
<div
  class="col-12 d-flex align-items-center justify-content-center quote-bg-img"
>
  <div class="col-9 quote-bg-color">
    <figure class="text-center">
      <blockquote class="blockquote">
        <h4 class="quote-color">
          Livro bom é livro que a gente passa à diante. O prazer da leitura não
          pode ser restrito.
        </h4>
      </blockquote>
      <figcaption class="blockquote-footer">Caio Rossan</figcaption>
    </figure>
  </div>
  <div class="col-2">
    <img class="quote-img" src="../assets/book-quote.svg" alt="books" />
  </div>
</div>

<!-- about -->
<div class="col-12 about-bg">
  <div class="d-flex flex-row align-items-center">
    <div class="col-6 text-center">
      <img class="about-img" src="../assets/reader-about.svg" alt="reader" />
    </div>
    <div class="col-6 text-center p-1">
      <h2>A Biblioteca Suindará</h2>
      <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        consequuntur quaerat pariatur ullam, tenetur placeat doloribus harum
        aperiam blanditiis dignissimos explicabo officiis nihil quisquam quam
        ut, dolor voluptatem. Ad, incidunt.
      </h4>
    </div>
  </div>
</div>

<!-- services -->
<!-- <div class="col-12 services-bg">
  <div class="col-12 text-center services-title">
    <h2>Serviços oferecidos</h2>
  </div>
  <div class="d-flex flex-row text-center">
    <div class="col-4 d-flex flex-column">
      <h5>Empréstimos de livros</h5>
    </div>
    <div class="col-4 d-flex flex-column">
      <h5>Acessibilidade</h5>
    </div>
    <div class="col-4 d-flex flex-column">
      <h5>Agenda Cultural</h5>
    </div>
  </div>
</div> -->

<!-- testemonials -->
<div class="testimonials-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">O que nossos leitores dizem</h2>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
          </p>
        </div>
        <div class="author">
          <h5 class="name">Ben Johnson</h5>
          <p class="title">CEO of Company Inc.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">
            Aliquam varius finibus est, et interdum justo suscipit. Vulputate
            quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.
          </p>
        </div>
        <div class="author">
          <h5 class="name">Carl Kent</h5>
          <p class="title">Founder of Style Co.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">
            Aliquam varius finibus est, et interdum justo suscipit. Vulputate
            quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.
          </p>
        </div>
        <div class="author">
          <h5 class="name">Emily Clark</h5>
          <p class="title">Owner of Creative Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<!-- footer -->
<footer>
  <div class="container-footer">
    <div class="row-footer">
      <!-- footer col-->
      <div class="footer-col">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p style="color: white">
              Incentivar aos nossos jovens o gosto pela leitura é plantar uma
              semente com a certeza de que dará bons frutos.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer p-author" style="color: white">
            Deka Rissi
          </figcaption>
        </figure>

        <div>
          <img
            class="img-reader"
            src="../assets/reader-footer.svg"
            alt="reader"
          />
        </div>

        <!-- <div class="medias-socias">
          <a href=""><img src="../assets/icons/github.png" width="30em" /></a>
          <a href=""><img src="../assets/icons/facebook.png" width="30em" /></a>
          <a href=""
            ><img src="../assets/icons/instagram.png" width="30em"
          /></a>
        </div> -->
      </div>
      <!--end footer col-->

      <!-- footer col-->
      <div class="footer-col">
        <div class="d-flex flex-row">
          <h4>Mande uma mensagem</h4>
          <img class="img-footer" src="../assets/opened-mailbox.svg" alt="" />
        </div>
        <div class="form-sub">
          <form>
            <input
              type="text"
              placeholder="Digite o seu nome"
              required
              class="mt-3 form-control"
            />
            <input
              type="email"
              placeholder="Digite o seu e-mail"
              required
              class="mt-3 form-control"
            />
            <textarea
              placeholder="Digite sua mensagem"
              required
              class="mt-3 form-control text-bg-color input"
            ></textarea>
            <button class="btn btn-success mt-4">enviar</button>
          </form>
        </div>
      </div>
      <!--end footer col-->
    </div>
  </div>
</footer>

<!-- <marquee behavior="" direction="right">
  <img class="img-footer" src="../assets/opened-mailbox.svg" alt=""/>
</marquee> -->
